{% extends 'tfg/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block sidebar %}
<div class = 'SideBar'>
	<h3 style = "color:white;padding: 0px 8px"> Consultes </h3>
	  <a href="/tfg/Baptismes/">Cercar Batejats</a>
	  <a href="/tfg/Baptismes/cerca-apadrinats/"> Padrins i Fillols</a>
	  <a href="#"> Link 3</a>
</div>
{% endblock %}

{% block content %}
<div style = "padding: 10px 5px 10px 10px">
	<p> Arxius de baptismes disponibles. Cerca el batejat introduïnt les seves dades:</p>
	<form action= "/tfg/Baptismes/cerca-batejat/" method = "post" novalidate>
		{% csrf_token %}
		{{ form }}
		<button type="submit">Cerca</button>
</div>
<div>
	
		{% render_table baptismes %}
</div>
{% endblock %}
