{% extends 'tfg/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block sidebar %}
<div class = 'SideBar'>
	<h3 style = "color:white;padding: 0px 8px"> Consultes </h3>
	  <a href="/tfg/Obituaris/">Cercar Obituaris</a>
	  <a href="#"> Link 2</a>
	  <a href="/tfg/Obituaris/statsMortInfants/"> Mortalitat Infantil</a>
</div>
{% endblock %}

{% block content %}
<div style = "padding: 10px 5px 10px 10px">
	<p> Estadístiques mortalitat infantil:</p>
	<img src="{% static 'images/fig1.png' %}" width="720" height="810"/>
</div>
{% endblock %}
