{% extends 'tfg/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block sidebar %}
<div class = 'SideBar'>
	<h3 style = "color:white;padding: 0px 8px"> Consultes </h3>
	  <a href="/tfg/Matrimonis/">Cercar Matrimonis</a>
	  <a href="/tfg/Matrimonis/fillscasats/"> Fills Casats</a>
	  <a href="#">Link 3</a>
</div>
{% endblock %}

{% block content %}
<div style = "padding: 10px 5px 10px 10px">
	<p> Arxius de matrimonis disponibles. Cerca el matrimonis introduïnt les dades d'un dels pares:</p>
	<form action= "/tfg/Matrimonis/fillscasats/" method = "post" novalidate>
		{% csrf_token %}
		{{ form }}
		<button type="submit">Cerca</button>
</div>
<div>
	<p style = "padding: 10px 5px 10px 10px;text-decoration: underline;color:purple;font-size:20px"> Participacions com a Pare/Mare </p>
		{% render_table participacions %}
	<p style = "padding: 10px 5px 10px 10px;text-decoration: underline;color:purple;font-size:20px"> Matrimonis </p>
		{% render_table matrimonis %}
</div>
{% endblock %}
