html,body { height: 100%; margin: 0px; padding: 0px; }

nav a{
	color: white;display: inline;text-align: center;padding: 42px 48px;
	font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    color: #f1f1f1;
}
#NavigationBar{
	display: table-cell;
	vertical-align: middle;
	height: 40px;
	background-color: #333;
}
.SideBar{
	width:15%;
	height:200%;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
	float:left;
}
.SideBar a {
    padding: 6px 8px 6px 18px;text-decoration: none;font-size: 20px;color: #818181;display: block;
}
.SideBar a:hover {
    color: #f1f1f1;
}


th, td {
    padding: 15px;
}

tr:hover{
	cursor: pointer;
}

.NomData{
	width:100px
}

ul li:hover {
	cursor: pointer;
}